---
import Cookies from "./Cookies.astro";
import GoogleAnalytics from "./GoogleAnalytics.astro";
import { SEO } from "astro-seo";
import "@fontsource/lato";
import "../../styles/global.scss";
const GA_ID = import.meta.env.GA_ID;

const {
  title = "Linaro Automated Validation Architecture",
  description = "Linaro Automated Validation Architecture (LAVA) is a continuous integration system for deploying operating systems onto physical and virtual hardware for running tests.",
  type = "website",
} = Astro.props;

const appended_title = title + " | LAVA Software";
---

<head>
  <title>{appended_title}</title>
  <meta property="description" content={description} />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <Cookies />
  <GoogleAnalytics id={GA_ID} />
  <SEO
    title={appended_title}
    description={description}
    openGraph={{
      basic: {
        title: appended_title,
        type: type,
        image: "https://www.lavasoftware.org/images/social-media-image.png",
      },
    }}
    twitter={{
      creator: "@LinaroOrg",
    }}
    extend={{
      link: [
        { rel: "icon", href: "/favicon.png" },
        {
          rel: "me",
          href: "https://mastodon.org.uk/@LinaroLtd@mastodon.social",
        },
      ],
      meta: [
        {
          name: "twitter:image",
          content: "https://www.lavasoftware.org/images/social-media-image.png",
        },
        { name: "twitter:title", content: appended_title },
        { name: "twitter:description", content: description },
      ],
    }}
  />
</head>
